.message,
.own-message {
    min-width: auto;
    max-width: 60%;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    background-color: #d9d9d9;
}

.own-message {
    background-color: #aebfff;
    margin-left: 40%;
}

.message > div,
.own-message > div {
    margin-left: 10px;
}

.message-user-avatar {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.message-time {
    margin-right: 10px;
    font-style: italic;
}

.message-user-name {
    font-weight: bold;
}

.fa-heart {
    color: #ff0000;
}